<header>
  <div class="header-content">
    <div class="logo">
      <h1>CSE Motors</h1>
    </div>
    <div class="account">
      <% if (locals.loggedin) { %>
        <a title="Click to manage your account" href="/account/">Welcome <%= locals.accountData.account_firstname %></a> | 
        <a title="Account Management" href="/account/">Account Management</a> | 
        <a title="Click to log out" href="/account/logout">Logout</a>
      <% } else { %>
        <a title="Click to log in" href="/account/login">My Account</a>
      <% } %>
    </div>
  </div>
</header>