<header>
    <div class="site-identity">
      <img src="/images/site/logo.png" alt="CSE Motors Logo">
    </div>
    <div class="account-nav">
      <a href="#" title="My Account">My Account</a>
    </div>
  </header>